.schedule-session-form {
  display: flex;
  flex-direction: column;
}

.schedule-session-form > * {
  margin: 0 0 25px !important;
}

.react-time-picker__inputGroup__input {
  width: auto !important;
}

