.schedule-session-form {
  display: flex;
  flex-direction: column;
  width: 75vw;
  min-width: 500px;
  max-width: 750px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
}

.schedule-session-form > * {
  margin: 0 0 25px !important;
}

.schedule-session-form label {
  color: #2d2929;
}

.schedule-session-form button[type=submit]{
  max-width: 20vw;
  margin: 0 auto !important;
}

/* Time Picker */

.react-time-picker__wrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.react-time-picker__wrapper > * {
  display: flex;
}

/* Time picker buttons */
.react-time-picker__wrapper button {
  background-color: rgba(255,255, 255, 0.25);
  border: 1px solid #099DFD;
  margin: 0 5px;
}

.react-time-picker__wrapper-button button :hover {
  background-color: #099DFD;
  border: 1px solid #000;
}

/* Time picker Input */

.react-time-picker__inputGroup {
  margin: 0 25px;
}

.react-time-picker__inputGroup__input {
  width: auto !important;
  color: #fff;
}

